<div id="header">

  <div id="logo">
    <img src="../assets/images/sun.png" alt="logo">
    <p>WEATHER<br />APP</p>
  </div>

  <!--
  <span id="menu">
    <a href="#">Home</a> |
    <a href="#">About</a> |
    <a href="#">Contact</a>
  </span>
-->
  <form id="searchBar">
    <input type="text" name="txtCity" placeholder="Enter a city" [(ngModel)]="txtCity" required=true>
    <button mat-flat-button type="reset" [disabled]="txtCity===''? true:false" id="btnReset">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-flat-button (click)="btnGetWeather()" id="btnSearch">
      <mat-icon>search</mat-icon>
    </button>

    <!--(click)="btnReset()"-->
  </form>

</div>
<!--head done-->


<br />
<br />

<div id="cardWeatherMain">
  <div id="cardLocation">
    <span id="cardCity">{{wdata.name | uppercase}}</span><br />
    <span id="cardDate">{{date | date:'mediumDate'}} &nbsp;|&nbsp; &nbsp;{{date | date:'shortTime'}}</span>
  </div>

  <div id="cardTemp">
    <span>{{wdata.main.temp | number : '.0-0'}}<sup>&#176;</sup> </span> <br />
    <span>Feels like {{wdata.main.feels_like}} </span>
  </div>

  <div id="cardIcon">
    <img src='http://openweathermap.org/img/wn/{{this.wdata.weather[0].icon}}@2x.png'
      alt="{{wdata.weather[0].description}} icon"><br />
    <span>{{wdata.weather[0].description | titlecase}}</span>
  </div>

  <div id="cardData">

    <div id="tableLandscape">
      <table id="table">
        <!--data-->
        <tr id="tbTitle">
          <th>Speed</th>
          <th>Gust</th>
          <th>Humidity</th>
          <th>Pressure</th>
          <th>Sunrise</th>
          <th>Sunset</th>
        </tr>
        <tr>
          <td>{{wdata.wind.speed}}</td>
          <td>{{wdata.wind.gust}}</td>
          <td>{{wdata.main.humidity}}</td>
          <td>{{wdata.main.pressure}}</td>
          <td>{{sunrise | date:'shortTime'}}</td>
          <td>{{sunset | date:'shortTime'}}</td>
        </tr>
      </table>
    </div>

    <div id="tablePortrait">
      <table id="table">
        <tr id="tbTitle">
          <th>Speed</th>
          <th>Gust</th>
          <th>Humidity</th>
        </tr>
        <tr>
          <td>{{wdata.wind.speed}}</td>
          <td>{{wdata.wind.gust}}</td>
          <td>{{wdata.main.humidity}}</td>
        </tr>
      </table>

      <table id="table">
        <tr id="tbTitle">
          <th>Pressure</th>
          <th>Sunrise</th>
          <th>Sunset</th>
        </tr>
        <tr>
          <td>{{wdata.main.pressure}}</td>
          <td>{{sunrise | date:'shortTime'}}</td>
          <td>{{sunset | date:'shortTime'}}</td>
        </tr>
      </table>


    </div>
  </div>
</div>
