
<div>
  <input type="text" name="txtCity" placeholder="Enter a city" [(ngModel)]="txtCity">

  <br />

  <button type="btnSend" (click)="btnGetWeather()">Get Weather</button>
  <button (click)="btnReset()" [disabled]="txtCity===''? true:false">Reset</button>

</div>

<mat-card class="cardWeatherMain">
  <mat-card-header>
    <mat-card-title>Weather App</mat-card-title>
    <mat-card-subtitle>Get the current weather on any location</mat-card-subtitle>
  </mat-card-header>


  <div class="mainWeatherIcon">
    <img mat-card-image src="https://static.thenounproject.com/png/967229-200.png" alt="weatherIcon">
  </div>
  <mat-card-content>
    <table class="table">
      <tr>
        <th>temp</th>
        <th>temp</th>
        <th>temp</th>
        <th>temp</th>
        <th>temp</th>
      </tr>
      <tr>
        <td>temp</td>
        <td>temp</td>
        <td>temp</td>
        <td>temp</td>
        <td>temp</td>

      </tr>
    </table>
  </mat-card-content>
</mat-card>
