@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/****** HEADER MENU *******/
#header {
  background-color: white;
  padding: 20px 100px 20px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template: "logo searchBar btnTemp";
}

#btnTemp {
  grid-area: btnTemp;
  margin: auto;
}


#logo {
  cursor: pointer;
  grid-area: logo;
}

#logo img {
  height: 70px;
}

#logo img,
#logo p {
  display: inline-block;
  vertical-align: middle;
  font-family: montserrat;
  font-weight: bold;
  font-size: 24px;
}

#logo p {
  margin: 5px;
}


#searchBar {
  grid-area: searchBar;
  margin: auto;
}

#searchBar input {
  padding: 10px;
  border-radius: 30px 0 0 30px;
  outline: none;
  border: 1px solid gray;
  vertical-align: middle;
  font-size: medium;
  padding-left: 15px;
}


#searchBar #btnSearch,
#searchBar #btnReset {
  transition: background-color 0.2s ease;
  color: white;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

#searchBar #btnSearch {
  border-radius: 0 30px 30px 0;
  background-color: rgba(38, 192, 184, 0.432);
}

#btnSearch:hover {
  background-color: lightseagreen !important;
}

/* #menu {
  color: white;
  background-color: olivedrab;
  padding: 7px 40px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 40%;
} */

#menu a {
  color: white;
  text-decoration: none;
}


#btnReset {
  border-radius: 0;
  background-color: gray;
  border: none;
}

#btnReset:hover {
  background-color: lightcoral;
}


/****** CARD  *******/

#cardWeatherMain {
  min-width: 400px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;

  width: 70%;
  max-width: 800px;
  margin: auto;

  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto;
  grid-template-areas:
    "cardLocation  cardLocation  cardTemp cardIcon"
    "cardData cardData cardData cardData";
}

#cardLocation {
  grid-area: cardLocation;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-width: 200px;
}

#cardLocation #cardCity {
  grid-area: cardCity;
  font-weight: 800;
  font-size: 36px;
  line-height: 60px;
}

#cardLocation #cardDate {
  background-color: olivedrab;
  color: white;
  border-radius: 40px;
  padding: 5px 20px;

  font-size: 12px;
}

#cardTemp {
  grid-area: cardTemp;
  text-align: center;
  padding: 0px 20px;
}

#cardTemp span:first-child {
  font-size: 100px;
  color: olivedrab;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

#cardTemp span:first-child sup {
  font-size: 50px;
  color: olivedrab;
}

#cardIcon {
  grid-area: cardIcon;
  text-align: center;
}

#cardIcon span {
  z-index: 2;
  position: relative;
  bottom: 32px;
}

#cardIcon img {
  width: 150px;
}






#cardData {
  grid-area: cardData;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr;
  grid-row: auto;
  grid-template-areas:
    "table1 table2";
}

#table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

#table #tbTitle {
  background-color: olivedrab;
}

#table,
#table th,
#table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
  font-size: 12px;
}

#table th {
  color: white;
}

#tbTitle img {
  width: 12px;
  vertical-align: middle;
  margin-right: 5px;
}

#tablePortrait {
  display: none;
}

@media only screen and (max-width: 800px) {

  /****** HEADER MENU *******/
  #header {
    background-color: white;
    padding: 20px 100px 20px 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template:
      "logo"
      "searchBar"
      "btnTemp";
    justify-items: center;
  }

  /****** CARD  *******/
  #cardWeatherMain {
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas:
      "cardLocation  cardLocation"
      "cardTemp cardIcon"
      "cardData cardData"
      "cardData cardData";
  }

  #cardLocation {
    text-align: center;
  }

  #tableLandscape {
    display: none;
  }

  #tablePortrait {
    display: block;
  }


  #cardTemp {
    padding-top: 20px;
  }

  #cardTemp span:first-child {
    font-size: 80px;
    line-height: 85px;
  }

  #searchBar {
    margin: 10px 0 10px 0;
  }


}
